{% extends 'base.html'%}

{% block content %}


<header class="text-gray-600 body-font bg-teal-700 text-white">
    <div class="container p-2">
      
      <nav class="md:ml-auto md:mr-auto flex flex-wrap text-base justify-start">
        {%for data in category %}
        <a  href="{% url 'category' data.id %}" class="mr-5 hover:text-slate-200">{{data.cat_title|capfirst}} </a>
        {% endfor %}
      </nav>
      
    </div>
</header>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        
      
      <div class="flex flex-wrap -m-4">
        {% for data in create %}
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg ">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{data.image.url}}" alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4" style="margin-left: 70px;">{{data.title}}</h2>
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BY-{{data.author}}</h3>
            <p class="leading-relaxed text-base">{{data.price}} <del>{{data.discount_price}}</del></p>
            <div class="flex gap-3">
              <a href="" class="bg-green-500 hover:bg-blue-700 text-white   rounded">Buy Now</a>
              <a href="" class="bg-yellow-500 hover:bg-yellow-700 text-white   rounded">Add To Cart</a>
              
            </div>
            <a class="text-indigo-500 inline-flex items-center mt-4" style="margin-left: 80px;" href="{% url 'singlePost' data.id%}">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
          </div>
        </div>
        {% endfor %}
        
       
       
      </div>
      
    </div>
  </section>
{% endblock %}

