{% extends 'base.html'%}

{% block content %}


<header class="text-gray-600 body-font bg-teal-700 text-white">
    <div class="container p-2">
      
      <nav class="md:ml-auto md:mr-auto flex flex-wrap text-base justify-start">
        {%for data in category %}
        <a  href="{% url 'category' data.id %}" class="mr-5 hover:text-slate-200">{{data.cat_title|capfirst}} </a>
        {% endfor %}
      </nav>
      
    </div>
</header>

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0" style="margin-top: 50px;">
       
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">All BookChor Books Pass Our Quality Control Test
        </h1>
       
        <p class="leading-relaxed mb-4">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.Between saving books and shipping, a BookChor staff member personally handles each and every volume.

          Like you, our team has very high standards. You should know exactly what to expect when your purchase arrives.</p>

        <div class="flex" style="margin-right: 80%;">
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
       
        
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://images.pexels.com/photos/4132936/pexels-photo-4132936.png?auto=compress&cs=tinysrgb&w=600/200x200">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        
      
      <div class="flex flex-wrap -m-4">
        {% for data in create %}
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg ">
            <img class="h-40 rounded w-full object-cover object-center mb-6 " style=" height: 260px;"src="{{data.image.url}}" alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4" style="margin-left: 70px;">{{data.title}}</h2>
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BY-{{data.author}}</h3>
            <p class="leading-relaxed text-base">{{data.price}} <del>{{data.discount_price}}</del></p>
            <div class="flex gap-3">
              <a href="{% url 'singlePost' data.id %}" class="bg-orange-600 text-white w-full py-2 rounded px-3">Buy Now</a>
              <a href="{% url 'singlePost' data.id %}" class="bg-green-600 text-white w-full py-2 rounded px-3">Add To Cart</a>
              
            </div>
            
          </div>
        </div>
        {% endfor %}
        
       
       
      </div>
      
    </div>
  </section>
{% endblock %}

